bin/
default.properties
bin/resources.ap_
bin/NewQuickAction3D.apk
bin/net/londatiga/android/R.class
bin/net/londatiga/android/R$style.class
bin/net/londatiga/android/R$string.class
bin/net/londatiga/android/R$layout.class
bin/net/londatiga/android/R$id.class
bin/net/londatiga/android/R$drawable.class
bin/net/londatiga/android/R$attr.class
bin/net/londatiga/android/R$anim.class
bin/net/londatiga/android/QuickAction.class
bin/net/londatiga/android/QuickAction$OnActionItemClickListener.class
bin/net/londatiga/android/QuickAction$1.class
bin/net/londatiga/android/PopupWindows.class
bin/net/londatiga/android/PopupWindows$1.class
bin/net/londatiga/android/ActionItem.class
bin/classes.dex